body {
  background-color: #fff5ee;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.nav {
  background-color: #a0522d;
  height: fit-content;
}

.nav > div {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  /* Padding: top and bottom, left and right */
  padding: 0 10px;
  color: #fff;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.nav-list > li {
  list-style: none;
  transition: 0.2s ease;
}

.nav-list > li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.nav-list > li:hover {
  color: #fff;
  text-decoration: underline;
  transform: translateY(-2px);
}

.nav-title {
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

.nav-title > a {
  text-decoration: none;
  color: #fff;
}

header {
  margin-top: 1rem;
  text-align: center;
}

section {
  /* Grid */
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  /* Gap */
  gap: 1rem;

  /* Padding */
  padding: 1rem;

  /* Margin */
  margin: 1rem;
}

section div {
  /* Padding */
  padding: 1rem;

  /* Border */
  border: 1px solid #a0522d;

  /* Border radius */
  border-radius: 5px;
}

.tags {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

section p{
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
  transition: 0.2s ease;
}

.mapache-img {
  width: 200px;
  height: auto;
}

.tags > h1:hover,
.tags > h2:hover,
.tags > h3:hover,
.tags > h4:hover,
.tags > h5:hover,
.tags > h6:hover,
.section > p:hover {
  color: #a0522d;
  cursor: pointer;
  transform: translateY(-2px);
}
